<div class="form-content">

  <!-- div-form-logo -->

<form class="w3-container form-container">
  <p>
    <label for="mail">E-mail</label>
    <input id="mail" class="w3-input w3-border" type="text">
  </p>
  <p>
    <label for="password">Mot de passe</label>
    <input id="password" class="w3-input w3-border" type="password">
  </p>
  <p>
    <input id="remember" type="checkbox" value="remember" checked>
    <label for="remember">Rester connecté</label>
  </p>

  <div class="form-buttons">
    <input type="submit" class="w3-btn button-form" value="Se connecter">
    <button class="w3-btn button-form" type="button" name="button">Annuler</button>
  </div>
</form>

</div>
