<div class="w3-card-2 form-content form-content-contact">

  <div class="form-div-logo form-div-logo-contact flex">

    <div class="form-hr-contact">
      <hr>
    </div>
    <h2 class="contact">Contactez-nous</h2>
    <div class="form-hr-contact">
      <hr>
    </div>

  </div>

  <form class="w3-container form-container form-contact">

    <div class="flex choix-civilite">
      <input id="madame" class="w3-radio" type="radio" name="gender" value="madame">
      <label for="madame">Madame</label>

      <input id="monsieur" class="w3-radio" type="radio" name="gender" value="monsieur">
      <label for="monsieur">Monsieur</label>
    </div>

      <p>
        <label for="nom">Nom</label>
        <input id="nom" class="w3-input w3-border" type="text">
      </p>

      <p>
        <label for="prenom">Prénom</label>
        <input id="prenom" class="w3-input w3-border" type="text">
      </p>

    <p>
      <label for="email">E-mail</label>
      <input id="email" class="w3-input w3-border" type="email">
    </p>

    <p>
      <label for="phone">Téléphone</label>
      <input id="phone" class="w3-input w3-border" type="tel">
    </p>

    <p>
      <label for="message">Message</label>
      <textarea id="message" class="contact-message w3-input w3-border" name="message" rows="4" cols="47"></textarea>
    </p>

    <div class="form-buttons">
      <input type="submit" class="w3-btn button-form" value="Envoyer">
      <button class="w3-btn button-form" type="button" name="button">Annuler</button>
    </div>
  </form>

</div>
