<footer>

  <div class="footer-content">

    <div class="footer-div-logo flex">
      <div class="footer-hr">
        <hr>
      </div>
      <div class="footer-logo">
        <img src="img/adep-logo.png" alt="logo ADEP">
      </div>
      <div class="footer-hr">
        <hr>
      </div>

    </div>

    <div class="footer-info flex">
      <div class="footer-address">
          <img src="img/logo-ici.png" alt="">
          <p>
            94 rue <br>
            Léon marlot <br>
            59100 roubaix
          </p>
      </div>
      <div class="footer-hourly">
        <img src="img/logo-hour.png" alt="">
        <p>
          lun -> ven<br>
          10h - 12h <br>
          14h - 17h
        </p>
      </div>
      <div class="footer-phone">
        <img src="img/logo-info.png" alt="">
        <p>
          T: 03 20 02 79 68<br>
          F: 03 20 75 83 78<br>
          <span class="footer-web">adep-roubaix.fr</span>
        </p>
      </div>
    </div>

    <div class="footer-info-bis flex">
      <div class="footer-info-hr">
        <hr>
      </div>
      <div class="footer-info-p">
        <p>ATTENTION: Le secrétariat
        est fermé le lundi matin</p>
      </div>
      <div class="footer-info-hr">
        <hr>
      </div>
    </div>

    <div class="footer-contact">
      <div class="footer-mail flex space-around">
        <img src="img/logo-mail.png" alt="">
        <p>secretariat@adep-roubaix.fr</p>
      </div>
      <div class="footer-social space-around flex">
        <div class="footer-twitter flex">
          <img src="img/logo-twitter.png" alt="">
          <p>@adeproubaix</p>
        </div>
        <div class="footer-facebook flex">
          <img src="img/logo-facebook.png" alt="">
          <p>ADEPdeRoubaix</p>
        </div>
      </div>
    </div>

    <ul class="footer-link flex">
      <li><a href="contact.html">Contact</a></li>
      <li><a href="">Partenaires</a></li>
      <li><a href="">Plan du site</a></li>
    </ul>

    <hr class="footer-hr-dev">

    <div class="footer-developer">
      <div class="flex">
        <p>
          Designed &amp; Made with
        </p>
        <img src="img/logo-hearth.png" alt="">
      </div>
      <p>by <a href="">ThierryVH</a> &amp; <a href="">MTHDHT</a></p>
    </div>

  </div>

</footer>
