<div class="form-content">

  <!-- div-form-logo -->

  <form class="w3-container form-container">
  <p>
    <label for="pseudo">Pseudo</label>
    <input id="pseudo" name="pseudo" class="w3-input w3-border" type="text">
    <span></span>
  </p>
    <p>
    <label for="mail">E-mail</label>
    <input id="mail" name="email" class="w3-input w3-border" type="text">
    <span></span>
  </p>
    <p>
    <label for="password">Mot de passe</label>
    <input id="password" name="password" class="w3-input w3-border" type="password">
    <span></span>
  </p>
    <p>
    <label for="password-confirm">Confirmer le mot de passe</label>
    <input id="password-confirm" name="password_confirmation" class="w3-input w3-border" type="password">
    <span></span>
  </p>

    <div class="form-buttons">
      <input type="submit" class="w3-btn button-form" value="S'inscrire">
      <button class="w3-btn button-form" type="button" name="button">Annuler</button>
    </div>
  </form>

</div>
