<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
  </head>
  <body>

    <!-- nav -->

    <main>

    </main>

    <!-- partenaires -->

    <!-- footer -->


    <script type="text/javascript" src="main.js">

    </script>
  </body>
</html>
