<div class="w3-card-2 form-content-inscription">

  <!-- etapes inscription -->

  <form id="statut" class="w3-container form-contact">

    <div class="w3-row form-etape-3">
      <div class="statut w3-col">
        <p>
          <b>Code niveau stagiaire :</b>
        </p>
        <p>
          <input id="superieur" class="w3-radio" type="radio" name="niveau" value="01">
          <label for="superieur">01 Niveau supérieur à celui de la maîtrise</label>
        </p>

        <p>
          <input id="licence" class="w3-radio" type="radio" name="niveau" value="02">
          <label for="licence">02 Niveau licence ou maîtrise</label>
        </p>

        <p>
          <input id="bts" class="w3-radio" type="radio" name="niveau" value="03">
          <label for="bts">03 Niveau BTS, DUT, DEUG</label>
        </p>

        <p>
          <input id="bac" class="w3-radio" type="radio" name="niveau" value="04">
          <label for="bac">04 Niveau Bac, Bac Pro</label>
        </p>

        <p>
          <input id="bep" class="w3-radio" type="radio" name="niveau" value="05">
          <label for="bep">05 Niveau BEP, CAP</label>
        </p>

        <p>
          <input id="cep" class="w3-radio" type="radio" name="niveau" value="5B">
          <label for="cep">5B Niveau CEP, CFG, CCIP, BEPC</label>
        </p>

        <p>
          <input id="scolaire" class="w3-radio" type="radio" name="niveau" value="scolaire">
          <label for="scolaire">06 Niveau fin de scolarité obligatoire</label>
        </p>

        <p>
          <label for="fin-scolarite">Date de fin de scolarité</label>
          <input id="fin-scolarite" name="fin-scolarite" class="w3-input w3-border" type="text">
        </p>

        <p>
          <label for="diplome-obtenu">Diplôme obtenu</label>
          <input id="diplome-obtenu" name="diplome-obtenu" class="w3-input w3-border" type="text">
        </p>

        <p>
          <label for="lieu-obtention">Lieu d'obtention</label>
          <input id="lieu-obtention" name="lieu-obtention" class="w3-input w3-border" type="text">
        </p>

      </div>
    </div>


    <div class="inscription-buttons flex">

      <input type="submit" class="w3-btn button-form suivante" value="Terminer l'inscription">
      <button class="w3-btn button-form suivante" type="button" name="button">Annuler</button>
    </div>
  </form>

  <div class="buttons-etape flex">
    <form class="" action="index.html" method="post">
      <input type="submit" name="" value="Etape précédente">
    </form>
  </div>

</div>
