<div class="w3-row main-section">

  <div class="triangle-page-type">
    <img src="img/triangle-bleu-clair.png" alt="">
  </div>

  <h2 class="w3-center titre">
    <span class="text">Les Essentiels</span>
  </h2>
  <section class="w3-row section-cards">

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card" alt="">
          <h3 class="w3-center">blablabla</h3>
        </div>
      </div>
    </div>

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card "alt="">
          <h3 class="w3-center">blablabla</h3>
        </div>
      </div>
    </div>

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card "alt="">
          <h3 class="w3-center">blablabla</h3>
        </div>
      </div>
    </div>

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card "alt="">
          <h3 class="w3-center">blablabla</h3>
        </div>
      </div>
    </div>

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card "alt="">
          <h3 class="w3-center">blablabla</h3>
        </div>
      </div>
    </div>

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card "alt="">
          <h3 class="w3-center">blablabla</h3>
        </div>
      </div>
    </div>

    <div class="formation-card w3-col s6 m4 l3">
      <div class="card-container">
        <div class="card-content">
          <img src="img/logo-loupe.png" class="img-card "alt="">
          <h3 class="w3-center">Dessin perfectionnement</h3>
        </div>
      </div>
    </div>

  </section>

</div>
