<section class="main-section-partenaires">


    <h2 class="w3-center titre titre-partenaires">
      <span class="text">Nos partenaires</span>
    </h2>
    <div class="section-partenaires w3-row">
      <div class="w3-col s6 m4 flex">
        <img src="img/adep-logo-cut.png" alt="">
      </div>
      <div class="w3-col s6 m4 flex">
        <img src="img/adep-logo-cut.png" alt="">
      </div>
      <div class="w3-col s6 m4 flex">
        <img src="img/adep-logo-cut.png" alt="">
      </div>
      <div class="w3-col s6 m4 flex">
        <img src="img/adep-logo-cut.png" alt="">
      </div>
      <div class="w3-col s6 m4 flex">
        <img src="img/adep-logo-cut.png" alt="">
      </div>
      <div class="w3-col s6 m4 flex">
        <img src="img/adep-logo-cut.png" alt="">
      </div>
    </div>
    </section>
