.form-div-logo h2.contact{
  font-family: "Adam CG Pro";
  font-size: 16px;
  margin: 0 15px;
}

.form-hr-contact hr{
  width: 29px;
  margin-top: 10px;
  border: 1px solid black;
}

.form-content{
  background-color: white;
  margin-bottom: 80px;
}

.form-contact p:nth-child(2){
  margin-top: -10px;
}

.w3-radio{
  position: static!important;
  width: 18px;
  height: 20px;
}

.form-contact p label{
  margin: 0 30px 0 5px;
}

.contact-message{
  border-radius: 3px;
  resize: vertical;
}

.civilite{
  margin-left: 5px;
}

.form-content-contact{
  /*margin-top: 130px;*/
  padding-top: 45px;
  margin-top: 20px;
}

@media (min-width: 701px) {
  /*.footer-logo-contact img{
    width: 136px;
    margin: -73px 232px 0 232px;
  }*/

  .form-div-logo h2.contact{
    font-size: 20px;
  }

  .form-content-contact{
    margin-top: 50px;
  }

  .form-hr-contact hr{
    width: 131px;
  }

  .form-contact{
    margin-top: 30px;
  }

  .form-content{
    background-color: white;
    margin-bottom: 120px;
  }



}
