.titre,
.section-cards{
  width: 250px;
  margin: auto;
}

.titre{
  border-bottom: 1px solid #525252;
  margin: 60px auto 40px auto;
  font-family: "Adam CG Pro";
  font-size: 14px;
}

.titre .text{
  background-color: white;
  position: relative;
  top: 13px;
  padding: 0 20px;
}

h3{
  font-size: 16px;
}

.formation-card{
  padding: 10px;
}

.card-content{
  border: 2px solid lightgrey;
  border-radius: 2px;
  transition: .3s ease all;
}


.card-content:hover{
  border: 2px solid white;
  box-shadow: 0 0 10px lightgrey;
}

.img-card{
  width: 120px;
  height: 120px;
}

@media (min-width: 300px) {
  .titre,
  .section-cards{
    width: 280px;
  }
}

@media (min-width: 400px) {
  .titre,
  .section-cards{
    width: 350px;
  }
}

@media (min-width: 500px) {
  .titre,
  .section-cards{
    width: 450px;
  }
}

@media (min-width: 608px) {
  .titre,
  .section-cards{
    width: 550px;
  }
}

@media (min-width: 701px) {
  .titre,
  .section-cards{
    width: 620px;
  }
}

@media (min-width: 827px) {
  .titre,
  .section-cards{
    width: 745px;
  }

}

@media (min-width: 973px) {
  .titre,
  .section-cards{
    width: 875px;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1086px) {
  .titre,
  .section-cards{
    width: 1030px;
  }

}
