.section-cards{
  width: 100%;
  margin: auto;
}

.triangle-page-type{
  width: 70px;
  margin: auto;
}

.triangle-page-type img{
  width: 70px;
}

.titre{
  width: 95%;
  margin: auto;
  margin: 0 auto 40px auto;
  font-family: "Adam CG Pro";
  font-size: 20px;
}

.titre-partenaires{
  font-size: 15px;
  margin: 60px auto 40px;
}

.titre .text{
  background-color: white;
  position: relative;
  top: 18px;
  padding: 0 20px;
  color: #525252;
}

.formation-card{
  position: relative;
  width: 25%;
  padding-bottom: 63%;
  float: left;
  height: 0;
  /*border: 1px solid red;*/
}

.card-container{
  /*border: 2px solid lightgrey;*/
  border-radius: 2px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  padding: 8px;
}

.card-content{
  width: 100%;
  height: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
}

.img-card{
  width: 100%;
}

.card-container h3{
  width: 90%;
  margin: auto;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 487px) {
  .formation-card{
    padding-bottom: 58%;
  }
}


@media (min-width: 701px) {

  .triangle-page-type{
    width: 100px;
  }

  .triangle-page-type img{
    width: 100px;
  }

  .titre{
    width: 86%;
    border-bottom: 1px solid #e5e5e5;
    font-size: 25px;
  }

  .titre-partenaires{
    font-size: 20px;
  }

  .titre .text{
    top: 18px;
  }

  .card-container{
    padding: 15px;
  }

  .card-container h3{
    font-size: 15px;
  }

  .section-cards{
    width: 88.5%;
  }

  .card-content{
    transition: .3s ease all;
  }


  .card-content:hover{
    border: 2px solid white;
    box-shadow: 0 0 12px lightgrey;
  }

  .formation-card {
      padding-bottom: 42%;
  }
}

@media (min-width: 824px) {
  .formation-card{
    padding-bottom: 39%;
  }
}

@media (min-width: 992px) {
  .formation-card {
      padding-bottom: 31%;
  }
}

@media (min-width: 1041px) {
  .formation-card{
    padding-bottom: 29%;
  }
}
