.step2,
.fleche1{
  opacity: 1;
}

.input-salarie{
  display: none;
}

.autre{
  display: none;
}

@media (min-width: 701px) {
 .form-etape-3{
   width: 65%;
   margin-left: auto;
   margin-right: auto;
 }
}

@media (min-width: 993px) {
  .form-etape-3{
    width: 45%;
  }
}
