@font-face {
    font-family: "Adam CG Pro";
    src: url(ADAM_CG_PRO.otf);
}



/*
Jaune  LES NUMERIQUES
Hexa: #FFE62D
RGB: 255 230 45

Orange   LES ARTISTIQUES
Hexa: #E5A512
RGB: 229 165 18

Bleu clair   LES ESSENTIELS
Hexa: #004899
RGB: 0 72 153

Bleu foncé   LES INNOVATIONS / COULEUR PRINCIPALE
Hexa: #2D237A
RGB: 45 35 122

Brun   LES LANGUES
Hexa: #A83C17
RGB: 168 60 23

Vert   LES MAINS VERTES
Hexa: #538335
RGB: 83 131 53

Gris informations
Hexa: #F1F1F3s
*/


/*################# FLEXBOX #################*/

.flex{
  display: flex;
}

/*################# MOBILE & TABLET NAVIGATION #################*/

nav a {
  text-decoration: none;
  font-size: 13px;
}

/* Sidebar animation */
.w3-animate-right{
  width:70%!important;
  right:0;
  margin: 0;
}

/* nav Sidebar */
.ul-Sidebar{
  padding: 0!important;
  list-style-type: none;
  font-size: 1.3em;
}

/* div to close ul-sidebar on click */
@keyframes backgroundcolor {
  from {background-color: rgba(0, 0, 0, 0);}
  to {background-color: rgba(0, 0, 0, 0.15);}
}

div.nav-closeSidebar{
  background-color: rgba(0, 0, 0, 0.15);
  animation: backgroundcolor 1.5s;
  width: 100%!important;
  height: 100%!important;
}

.ul-Sidebar .w3-button:hover{
  background-color: white!important;
}


.recherche-desktop{
  width:80%;
  height: 100%;
  border: 0;
  margin: auto;
}

label.recherche{
  margin: auto;
  padding: 10px 25px 5px 25px;
}

label.recherche img.logo-loupe{
  width: 20px;
}

.recherche-mobile:focus,
.recherche-desktop:focus{
  outline: none;
  border: 0;
}





@media(max-width: 700px)  {

  nav{
    border-top: 5px solid #E5A512;
    border-bottom: 1px solid #F1F1F3;
  }

  .div-logo-mobile{
    width: 18%;
    height: 50px;
    min-width: 100px;
  }

  .div-logo-mobile img{
    width: 50px;
    height: 50px;
    margin: auto;
  }

  .div-logo-mobile h1{
    font-family: "Adam CG Pro";
    font-size: 1em;
    margin: 15px 10% 0px 5%;
    color: #525252;
  }

  .div-search-mobile{
    height: 50px;
    width: 65%;
    border-left: 1px solid #F1F1F3;
  }

  .div-search-mobile input{
    font-size: 1.2em;
    color: grey;
    font-family: Verdana, sans-serif;
    width: 75%;
    background-color: white;
    border: 0;
  }

  .div-button-menu{
    width:20%;
    height: 50px;
    min-width: 130px;
  }

  .mySidebar li{
    border-bottom: 1px solid #F1F1F3;
    font-family: "Adam CG Pro";
    padding: 10px;
    display: flex;
  }

  .mySidebar li img{
    width: 20px;
    height: 20px;
    margin: auto 0;
  }

  .mySidebar li:nth-child(7){
    margin-bottom: 30px;
    border-bottom: 0;
  }

  .mySidebar li:last-child{
    border-bottom: 0;
  }

  li.w3-button img.logo-menu{
    width: 40px;
    height: 40px;
  }

  ul.mySidebar li:first-child{
    padding: 20px 0 20px 45px;
  }

  button.button-menu,
  button.button-menu:hover{
    border-radius: 5px;
    background-color:  lightgrey!important;
    /*border: 4px solid  #E5A512;*/
    color: white!important;
    margin: auto;
    width: 80px;
    font-size: 15px!important;
    padding: 5px 0;
  }

  button.button-menu span,
  button.button-menu:hover span{
    font-family: "Adam CG Pro";
  }


  /* ########## HEADER ########### */
  /* Logo ADEP */
  .logo{
    width: 220px;
  }


}






@media(min-width: 701px) and (max-width: 991px) {

  nav{
    border-top: 5px solid #E5A512;
    border-bottom: 1px solid #F1F1F3;
  }

  .div-logo-mobile{
    width: 20%;
    height: 80px;
    min-width: 100px;
  }

  .div-logo-mobile img{
    width: 80px;
    height: 80px;
    margin: auto;
  }

  .div-logo-mobile h1{
    font-family: "Adam CG Pro";
    font-size: 1em;
    margin: 15px 10% 0px 5%;
    color: #525252;
  }

  .div-search-mobile{
    height: 80px;
    width: 65%;
    border-left: 1px solid #F1F1F3;
  }

  .div-search-mobile input{
    font-size: 1.2em;
    color: grey;
    font-family: Verdana, sans-serif;
    width: 75%;
    background-color: white;
    border: 0;
  }

  .div-button-menu{
    width:20%;
    height: 80px;
    min-width: 130px;
  }

  .mySidebar li{
    border-bottom: 1px solid #F1F1F3;
    font-family: "Adam CG Pro";
    padding: 10px;
    display: flex;
  }

  .mySidebar li img{
    width: 20px;
    height: 20px;
    margin: auto 0;
  }

  .mySidebar li:nth-child(7){
    margin-bottom: 30px;
    border-bottom: 0;
  }

  .mySidebar li:last-child{
    border-bottom: 0;
  }

  li.w3-button img.logo-menu{
    width: 40px;
    height: 40px;
  }

  ul.mySidebar li:first-child{
    padding: 20px 0 20px 45px;
  }

  button.button-menu,
  button.button-menu:hover{
    border-radius: 5px;
    background-color:  lightgrey!important;
    /*border: 4px solid  #E5A512;*/
    color: white!important;
    margin: auto;
    width: 80px;
    font-size: 15px!important;
    padding: 5px 0;
  }

  button.button-menu span,
  button.button-menu:hover span{
    font-family: "Adam CG Pro";
  }


  /* ########## HEADER ########### */
  /* Logo ADEP */
  .logo{
    width: 220px;
  }


}








/*######################################################*/
/*####################### DESKTOP ######################*/
/*######################################################*/

@media(min-width: 992px){

  /*################# DESKTOP NAVIGATION #################*/

  /* Main navbar */
  .navLarge{
    margin: 0;
    border-top: 10px solid #E5A512;
    padding-left: 0;

    /*font-family: "Adam CG Pro"!important;*/
  }

  .navLarge div{
    border-bottom: 1px solid #F1F1F3!important;
    border-left: 1px solid #F1F1F3!important;
  }

  .navLarge div:first-child{
    width: 60%;
    min-width: 712px;
    justify-content: space-around;
  }

  .navLarge div:nth-child(2){
    width: 22%;
  }

  .navLarge div:last-child{
    width: 18%;
    justify-content: space-around;
    min-width: 200px;
  }

  .navLarge-connexion{
    padding: 25px 10px!important;
  }

  .navLarge li{
    border-bottom: 4px solid white!important;
    color: #525252;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    /*margin: 0!important;*/
  }

  .navLarge div:first-child li{
    padding: 25px 13px;
  }

  .navLarge li:hover{
    background-color: white!important;
  }

  .navLarge li:first-child{
    margin-left: 1.5%;
  }

  .navLarge li:last-child{
    margin-right: 1.5%;
  }

  .navLarge li:first-child,
  .navLarge li:nth-child(2),
  .navLarge li:nth-child(3),
  .navLarge li:nth-child(4),
  .navLarge li:nth-child(5),
  .navLarge li:nth-child(6),
  div.nav-connexion li{
    transition: border .3s ease-out, color .3s ease-out;
  }

  .navLarge div:first-child li:first-child:hover{
    border-bottom: 4px solid #004899!important;
    color: black!important;
  }

  div.nav-connexion li:hover{
    border-bottom: 4px solid #F1F1F3!important;
  }

  .navLarge div:first-child li:nth-child(2):hover{
    border-bottom: 4px solid #A83C17!important;
  }

  .navLarge div:first-child li:nth-child(3):hover{
    border-bottom: 4px solid #FFE62D!important;
  }

  .navLarge div:first-child li:nth-child(4):hover{
    border-bottom: 4px solid #E5A512!important;
  }

  .navLarge div:first-child li:nth-child(5):hover{
    border-bottom: 4px solid #538335!important;
  }

  .navLarge div:first-child li:nth-child(6):hover{
    border-bottom: 4px solid #2D237A!important;
  }

  /****** HEADER ******/
  .header{
    width: 780px;
    margin: 50px auto;
    color: #525252;
    /*border: 1px solid red;*/
  }

  .header-titre{
    margin-top: 35px;
  }

  .header-titre h1{
    font-family: "Adam CG Pro";
    letter-spacing: 5px;
    font-size: 4em;
    margin-bottom: -15px;
  }

  .header-titre h2{
    font-family: "Adam CG Pro";
    font-size: 1.5em;
  }


  label.recherche{
    padding: 25px;
  }


  .logo{
    width: 220px;
    margin-right: 50px;
  }
}
