@font-face {
    font-family: "Adam CG Pro";
    src: url(ADAM_CG_PRO.otf);
}

body,
.header-titre h2{
  font-family: 'Source Sans Pro', sans-serif;
}

nav{
  z-index: 1;
}

/*
Jaune  LES NUMERIQUES
Hexa: #FFE62D
RGB: 255 230 45

Orange   LES ARTISTIQUES
Hexa: #E5A512
RGB: 229 165 18

Bleu clair   LES ESSENTIELS
Hexa: #004899
RGB: 0 72 153

Bleu foncé   LES INNOVATIONS / COULEUR PRINCIPALE
Hexa: #2D237A
RGB: 45 35 122

Brun   LES LANGUES
Hexa: #A83C17
RGB: 168 60 23

Vert   LES MAINS VERTES
Hexa: #538335
RGB: 83 131 53

Gris informations
Hexa: #F1F1F3s
*/

/*################# FLEXBOX #################*/

.flex{
  display: flex;
}

.space-around{
  justify-content: space-around;
}

main{
  width: 90%;
  margin: 90px auto 0 auto;
}

/*################# MOBILE NAVIGATION #################*/

.main-nav a {
  text-decoration: none;
  font-size: 15px;
  font-weight: normal;
}

/* Sidebar animation */
.w3-animate-right{
  width:70%!important;
  right:0;
  margin: 0;
}

/* nav Sidebar */
.ul-Sidebar{
  padding: 0!important;
  list-style-type: none;
  font-size: 1.3em;
}

/* div to close ul-sidebar on click */
@-webkit-keyframes backgroundcolor {
  from {background-color: rgba(0, 0, 0, 0);}
  to {background-color: rgba(0, 0, 0, 0.15);}
}

@keyframes backgroundcolor {
  from {background-color: rgba(0, 0, 0, 0);}
  to {background-color: rgba(0, 0, 0, 0.15);}
}

div.nav-closeSidebar{
  background-color: rgba(0, 0, 0, 0.15);
  animation: backgroundcolor 1.5s;
  -webkit-animation: backgroundcolor 1.5s;
  width: 100%!important;
  height: 100%!important;
}

.w3-button:hover{
  background-color: white!important;
}


.recherche-desktop{
  width:80%;
  height: 100%;
  border: 0;
  margin: auto;
}

label.recherche{
  margin: auto;
}

label.recherche img.logo-loupe{
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.recherche-mobile:focus,
.recherche-desktop:focus{
  outline: none;
  border: 0;
}

  .main-nav{
    border-top: 5px solid #E5A512;
    border-bottom: 1px solid #F1F1F3;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    /*box-shadow: 0 0 5px grey;*/
  }

  .div-logo-mobile{
    width: 100px;
    min-width: 100px;
    height: 85px;
  }

  .div-logo-mobile a{
    height: 85px;
  }

  .div-logo-mobile img{
    width: 70px;
    margin: auto;
  }

  .div-search-mobile{
    height: 85px;
    width: auto;
    border-left: 1px solid #F1F1F3;
    margin-right: auto;
  }

  .div-search-mobile input{
    width: 100%;
    font-weight: 300;
    font-size: 1.2em;
    color: grey;
    background-color: white;
    border: 0;
  }

  .div-button-menu{
    width: 150px;
    min-width: 150px;
    height: 85px;
  }

  .mySidebar li{
    border-bottom: 1px solid #F1F1F3;
    padding: 5px 10px;
    display: flex;
  }

  .mySidebar li img{
    width: 20px;
    height: 20px;
    margin: auto 0;
  }

  .mySidebar li:nth-child(7){
    margin-bottom: 30px;
    border-bottom: 0;
  }

  .mySidebar li:last-child{
    border-bottom: 0;
  }

  li.w3-button img.logo-menu{
    width: 40px;
    height: 40px;
  }

  ul.mySidebar li:first-child{
    padding: 20px 0 20px 45px;
  }

  button.button-menu,
  button.button-menu:hover{
    border-radius: 4px;
    background-color:  white!important;
    color: #525252!important;
    border: 2px solid #F1F1F3;
    margin: auto;
    font-size: 15px!important;
    padding: 10px 12px;
  }

  button.button-menu span,
  button.button-menu:hover span{
    font-size: 15px!important;
  }

  .menu-button{
  }

  .breadcrumb{
    width: 95%;
    margin: 20px auto;
    color: #ccc;
  }

  .triangle-breadcrumb{
    margin: auto 10px;
  }

  header{
    padding: 10px 0 5px 0;
  }

  .header-titre{
    text-align: center;
    margin: auto;
  }

  .header-titre h2{
    font-size: 1.7em;
    font-weight: 300;
    color: #525252;
  }


  /*##################################
  ###### SECTION PARTENAIRES #######
  ##################################*/

  .section-partenaires{
    margin: 80px auto;
    width: 95%;
  }

  .section-partenaires img{
    width:100px;
    height: 100px;
    margin: auto;
  }

  .section-partenaires h3{
    font-family: "Adam CG Pro";
    margin-bottom: 40px;
    color: #525252;
    font-size: 20px;
  }

  /*#################### FOOTER ###################*/

  footer{
    background-color: #F1F1F3;
    margin-bottom: 20px;
    border-radius: 3px;
    padding-bottom: 20px;
  }

  footer a{
    text-decoration: none;
  }

  .footer-content{
    width: 90%;
    margin: auto;
  }

  .footer-logo{
    width: 25%;
    min-width: 100px;
  }

  .footer-logo img{
    display: block;
    width: 100px;
    margin: -55px auto 0 auto;
  }

  .footer-hr{
    width: 42.5%;
  }

  .footer-hr hr{
    width: 100%;
    color: black;
    border: 1px solid #525252;
    margin: 45px 0;
  }

  .footer-address,
  .footer-hourly,
  .footer-phone{
    width: 33.33%;
    font-size: 10px;
    text-align: center;
    font-family: "Adam CG Pro";
    line-height: 18px;
  }

  .footer-info img{
    width: 35px;
    margin-bottom: -15px;
  }

  .footer-info{
    margin: auto;
    margin-bottom: 30px;
    max-width: 340px;
  }

  @media(max-width: 336px){
    .footer-web{
      font-size: 9px;
    }
  }

  .footer-info-bis{
    width: 90%;
    margin: auto;
  }

  .footer-info-hr{
    width: 20%;
    padding: 0 10px;
  }

  .footer-info-hr hr{
    border: 1px solid #525252;
    margin: auto;
    margin-top: 20px;
  }

  .footer-info-p{
    width: 60%;
    text-align: center;
    font-size: 12px;
    margin: auto;
  }

  .footer-contact{
    margin: 30px 0 70px 0;
    text-align: center;
  }

  .footer-contact p{
    font-size: 13px;
  }

  .footer-social{
    max-width: 296px;
    margin: auto;
    min-width: 240px
  }

  .footer-social div{
    width: 42%;
  }

  .footer-social div p{
    margin: 0;
  }

  .footer-mail{
    width: 190px;
    margin: auto;
  }

  .footer-contact img{
    width: 25px;
    height: 25px;
    margin: auto 5px auto 0;
  }

  .footer-developer{
    width: 180px;
    margin: 15px auto 0 auto;
  }

  .footer-developer p{
    text-align: center;
    margin: 0;
    color: #AEAEAE;
    font-weight: 300;
    font-size: 15px;
  }

  .footer-developer a{
    text-decoration: none;
    font-weight: 400;
    margin: 0 4px;
  }

  .footer-developer a:hover{
    color: #E5A512;
  }

  .footer-developer div{
    justify-content: space-around;
    width: 160px;
    margin: auto;
  }

  .border{
    border: 1px solid grey;
  }

  .footer-developer img{
    width: 20px;
    height: 20px;
  }

  .footer-hr-dev{
    border: 1px solid lightgrey;
    width: 60%;
    margin: 15px auto;
  }

  .footer-link{
    font-family: "Adam CG Pro";
    font-size: 12px;
    color: #AEAEAE;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    padding: 0;
    max-width: 430px;
  }

  .footer-link li{
    list-style-type: none;
    margin: 0;
  }


/*##########################################################*/
/*######################### TABLET #########################*/
/*##########################################################*/



@media(min-width: 701px){

  main{
    margin: 105px auto 0 auto;
  }

  .main-nav{
    border-top: 8px solid #E5A512;
  }

  .div-logo-mobile{
    width: 120px;
    height: 100px;
    min-width: 120px;
  }

  .div-logo-mobile a{
    height: 100px;
  }

  .div-logo-mobile img{
    width: 90px;
    /*height: auto;*/
  }

  .div-search-mobile{
    height: 100px;
  }

  .div-button-menu{
    width:170px;
    height: 100px;
    min-width: 170px;
  }

  button.button-menu,
  button.button-menu:hover{
    padding: 12px 12px;
    font-size: 15px!important;
  }

  button.button-menu span,
  button.button-menu:hover span{
    font-size: 18px!important;
  }

  header{
    padding: 50px 0 25px 0;
    margin: 30px auto;
  }

  .header-titre{
    width: 80%;
  }

  .header-titre h2{
    font-size: 2.5em;
  }

  .section-partenaires{
    width: 85%;
  }



  /*#################### FOOTER ###################*/

  .footer-logo{
    min-width: 150px;
  }

  .footer-logo img{
    width: 150px;
    margin: -80px auto 0 auto;
  }

  .footer-hr hr{
    margin: 70px 0;
  }

  .footer-address,
  .footer-hourly,
  .footer-phone{
    font-size: 13px;
    line-height: 22px;
  }

  .footer-info img{
    width: 45px;
    margin-bottom: -15px;
  }

  .footer-info{
    max-width: 500px;
    margin-bottom: 40px;
  }

  .footer-info-hr{
    width: 25%;
  }

  .footer-info-hr hr{
    margin-top: 25px;
  }

  .footer-info-p{
    width: 50%;
    font-size: 15px;
  }

  .footer-mail{
    width: 210px;
  }

  .footer-contact p{
    font-size: 15px;
  }

  .footer-developer{
    margin: 30px auto 10px auto;
  }

  .footer-hr-dev{
    width: 70%;
  }

  .footer-link{
    font-size: 15px;
  }

  .footer-link li{
    transition: color .3s ease-out;
  }

  .footer-link li:hover{
    color: black;
  }

}


/*######################################################*/
/*####################### DESKTOP ######################*/
/*######################################################*/

@media(min-width: 992px){

  main{
    width: 95%;
    margin: 90px auto 0 auto;
  }

  /*################# DESKTOP NAVIGATION #################*/

  /* Main navbar */
  .main-nav{
    border-top: 10px solid #E5A512;
  }

  .navLarge{
    margin: 0;
    padding-left: 0;
    /*font-family: "Adam CG Pro"!important;*/
  }

  .navLarge>ul,
  .navLarge>div{
    border-left: 1px solid #F1F1F3!important;
  }

  .navLarge>ul:first-child{
    width: 60%;
    min-width: 712px;
    justify-content: space-around;
  }

  .navLarge>div:first-child{
    width: 22%;
  }

  .navLarge>div:last-child{
    width: 18%;
    justify-content: space-around;
    min-width: 200px;
  }

  .navLarge-connexion{
    padding: 0 10px!important;
  }

  .navLarge li{
    border-bottom: 4px solid white!important;
    color: #525252;
    padding-top: 25px!important;
    padding-bottom: 25px!important;
    /*margin: 0!important;*/
  }

  .navLarge ul{
    padding: 0;
    margin: 0;
  }

  .navLarge>ul:first-child>li{
    padding: 0 13px;
  }

  .navLarge li:hover{
    background-color: white!important;
  }

  .navLarge>ul.first-ul>li:first-child,
  .navLarge>ul.first-ul>li:nth-child(2),
  .navLarge>ul.first-ul>li:nth-child(3),
  .navLarge>ul.first-ul>li:nth-child(4),
  .navLarge>ul.first-ul>li:nth-child(5),
  .navLarge>ul.first-ul>li:nth-child(6),
  .navLarge-connexion{
    transition: border .3s ease-out, color .3s ease-out;
  }

  .navLarge ul.first-ul li:first-child:hover{
    border-bottom: 4px solid #004899!important;
    color: black!important;
  }

  .navLarge-connexion:hover{
    border-bottom: 4px solid #ccc!important;
  }

  .navLarge ul.first-ul li:nth-child(2):hover{
    border-bottom: 4px solid #A83C17!important;
  }

  .navLarge ul.first-ul li:nth-child(3):hover{
    border-bottom: 4px solid #FFE62D!important;
  }

  .navLarge ul.first-ul li:nth-child(4):hover{
    border-bottom: 4px solid #E5A512!important;
  }

  .navLarge ul.first-ul li:nth-child(5):hover{
    border-bottom: 4px solid #538335!important;
  }

  .navLarge ul.first-ul li:nth-child(6):hover{
    border-bottom: 4px solid #2D237A!important;
  }

  /****** HEADER ******/

  header{
    padding: 0 0 30px 0;
  }

  .header-logo{
    width: 780px;
    margin: 0 auto 20px auto;
    color: #525252;
    /*border: 1px solid red;*/
  }

  /* Logo ADEP */
  .logo{
    width: 220px;
  }

  .header-titre{
    margin-top: 35px;
    text-align: left;
  }

  .header-titre h1{
    font-family: "Adam CG Pro";
    letter-spacing: 5px;
    font-size: 4em;
    margin-bottom: -15px;
  }

  .header-titre h2{
    /*font-family: "Adam CG Pro";*/
    font-size: 2.2em;
    line-height: 1;
  }


  label.recherche{
    padding: 10px;
  }


  .logo{
    width: 220px;
    margin-right: 50px;
  }

  /*##################################
  ###### SECTION PARTENAIRES #######
  ##################################*/

  .section-partenaires img{
    width:150px;
    height: 150px;
  }

  /*################# FOOTER #################*/

  .footer-logo{
    min-width: 200px;
  }

  .footer-logo img{
    width: 200px;
    margin: -110px auto 0 auto;
  }

  .footer-hr hr{
    margin-top: 95px;
  }

  .footer-address,
  .footer-hourly,
  .footer-phone{
    font-size: 15px;
    line-height: 25px;
  }

  .footer-info{
    max-width: 680px;
  }

  .footer-info img{
    width: 50px;
    margin-bottom: -15px;
  }

  .footer-info-hr{
    width: 27.5%;
  }

  .footer-info-p{
    width: 45%;
  }

  .footer-info-bis{
    max-width: 850px;
  }

  .footer-contact{
    font-size: 20px;
  }

  .footer-social {
    width: 340px;
  }


  .footer-developer{
    margin: 30px auto 20px auto;
  }

  .footer-link{
    max-width: 500px;
  }

  .section-main{
    height: 300px;
  }




/* ##############################
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
################################
page partenaire
*/

  /*.section-part{
    padding: 40px;
  }

  .section-part1{
    padding-right: 40px;
  }

  .section-part2{
    padding-left: 40px;
  }

  .section-container{
    margin-bottom: 120px;
  }

  .aside{
    padding: 40px;
    height: auto;
  }

  .grise{
    background-color: #F1F1F3;
    width: 100%;
    height: 800px;
  }*/


  /*###################################
  ########## page type ##############
  ###################################*/

  nav{
    z-index: 1;
  }

}
