.form-content{
  width: 300px;
  margin: 50px auto;
  background-color: #F1F1F3;
  border-radius: 3px;
}

.form-container{
  padding: 0px 20px 50px 20px;
  margin: 0 15px;
}

.button-form{
  box-shadow: 0 0 0 white!important;
  background-color: #004899;
  color: white;
  width: 230px;
  margin-top: 10px;
}

.button-form:last-child{
  border: 1px solid #aaa;
  background-color: lightgrey;
  color: #525252;
}

.form-div-logo{
  margin: auto;
  width: 80%;
}

.form-hr hr{
  width: 68px;
  border: 1px solid black;
  margin-top: 47px;
}

.form-container input,
.form-container button{
  border-radius: 3px;
}

@media (min-width: 701px) {
  .form-content{
    width: 600px;
    margin: 50px auto 80px auto;
  }

  .form-container{
    margin: 0 80px;
  }

  .form-div-logo{
    width: 80%;
  }

  .form-hr hr{
    width: 161px;
    margin-top: 73px;
  }

  .form-buttons{
    display: flex;
  }

  .button-form{
    width: 190px;
  }

  .button-form:first-child{
    margin-right: auto;
  }

}

@media (min-width: 992px) {

  .form-hr hr{
    width: 140px;
    margin-top: 95px;
  }

  .form-content{
    margin: 50px auto 80px auto;
  }

}
